body {
    width: 960px;
    margin: 0 auto;
    font: 18px;
    background: #777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    text-align: center;
    position: relative;
  }
  
  header, nav, section, aside, footer {
    padding: 20px;
    margin-top: 10px;
    background-color: #ebebeb;
  }
  #article {
    color: #ebebeb;
  }
  article {
      background: #777;
      padding: 5%;
  }
  .sub {
    background-color: #ebebeb;
    padding:3%;
    margin-bottom: 2%;
  }
  
  
  main {
    overflow: auto;
    /* display: inline; */
    margin-top: 2%;
    margin-bottom: 2%;
  
  }
  section {
    float: left;
    width: 495px;
    padding: 50px;
  }
  
  aside {
    float: right;
    padding: 152.5px;
    /* padding: 200px 200px 200px 200px; */
  }
  
  footer {
    clear: both;
    margin-bottom: 5%;
  }
  